## US Population By Race Visualization

Data visualization is one of the most important aspects of data analysis, alongside exploratory data analysis and building of models. By tranforming data into visual structures, communicating this data to others becomes much less tasking, identification of patterns, trends and outliers becomes is made possible and drawing insights and making conclusions can come with more certainty.

As a way of showcasing my understanding of data visualization, I will be using various python libraries to visualize and analyse changes in the population of U.S citizens by race.

The importance of population analysis (on any category) of people cannot be overstated. There are various use cases of such analysis, whether by the government, for planning how population growth might affect policies officials want to introduce, or by private organizations looking to understand the particular demographic of potential customers that can maximize profits.
https://www.measureevaluation.org/.
The objective of this small project is simply to visualize trends of population and how they vary by race in America. To be able to understand other factors that contribute to trends observed, other datasets and factors must be taken into account.

### The dataset
The data to be used has been obtained from https://www.statsamerica.org/downloads/default.aspx, specifically from the United States Census Bureau. It contains population of people in the U.S, categorized by race, over various counties in the states of the U.S. The data ranges from 1990 to 2019. 
The pandas library will be imported to display this data.

In [12]:
import pandas as pd

df = pd.read_csv(r"C:\Users\ACER\Desktop\Data Camp\Python for Data\Population-by-Race\us_population_1990_2019.csv")

df.head()

,year,total_pop,white,black,amer_indian_alaskan,asian,hawaiian_pac_isl,mixed,not_hispanic,hispanic
0,1990,249622814,209366661,30648345,2058726,7549082,NaN,NaN,227049976,22572838
1,1991,252980941,211606011,31290743,2126968,7957219,NaN,NaN,229425951,23554990
2,1992,256514224,213945622,31979982,2202176,8386444,NaN,NaN,231894879,24619345
3,1993,259918588,216187073,32634735,2282052,8814728,NaN,NaN,234141927,25776661
4,1994,263125821,218304774,33258981,2361078,9200988,NaN,NaN,236179888,26945933